.title {
  font-size: 48px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 4px;
  line-height: normal;
  text-align: center;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  margin: 0 0 79px 0;
}

.titleWhite {
  color: #ffffff;
}

.titleBlack {
  color: #252529;
}

@media (max-width: 768px) {
  .title {
    font-size: 45px;
    margin: 0 0 35px 0;
  }
}

@media (max-width: 576px) {
  .title {
    font-size: 32px;
  }
}