.articleWrapper{
max-width: 589px;
  &:first-child{
    margin-bottom: 70px;
  }
}
.articleTitle{
  font-family: "Montserrat",sans-serif;
  color: #252529;
  font-size: 24px;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
  margin: 0 0 24px 0;
}
.articleText{
  color: #252529;
  font-family: "Montserrat",sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  margin: 0;
  &:first-child{
    margin-bottom: 20px;
  }
}
