.instructionWrapper{
  color: #252529;
  font-family: "Montserrat", sans-serif;
  max-width: 486px;
  margin-bottom: 71px;
}

.instructionTitle {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  text-align: left;
  text-transform: uppercase;
  margin: 0 0 24px 0;

}

.instructionText {
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
}
