@import "./src/common/v–∞riables.module";

.awards {
  padding: 120px 0 162px 0;
  background-color: #0e0d0d;
  text-align: center;
  background-image: url("../../assets/img/awardsBg.webp");
  background-repeat: no-repeat;
  background-size: 1500px 1100px;
  background-position: center 350px;
}

.bgAwards {

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;

}
.awardsSubTitle{
  color: #ffffff;
  font-family: "Montserrat",sans-serif;
  font-size: 32px;
  font-weight: 400;
  letter-spacing: 4px;
  line-height: 40px;
  text-transform: uppercase;
  margin: -50px 0 152px 0;
}
.awardsSubTitleMB{
  margin: -50px 0 48px 0;
}

.award {
  width: 202px;
  height: 166px;

  img {
    width: 100%;
    height: 100%;
    border: none;
  }
}


.awardsWrapper {
  display: flex;
  max-width: 692px;
  max-height: 586px;
  flex-wrap: wrap;
  gap: 43px;
  justify-content: center;
  align-items: center;
  margin-bottom: 189px;
}

.license{
  position: absolute;
  bottom: -120px;
  left: 0;
  display: block;
  opacity: 0.5;
  color: #ffffff;
  font-family: "Montserrat",sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1px;
  text-align: left;
  text-transform: uppercase;
}