.advantageWrapper{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-width: 279px;
  max-height: 149px;
  margin-bottom: 78px;
  font-family: "Montserrat", sans-serif;
}

.advantageImgWrapper{
  width: 80px;
  height: 80px;
  margin-bottom: 24px;
  img{
    width: 100%;
    height: 100%;
  }

}

.advantageText{
  display: inline-block;
  padding: 0 20px;
  color: #252529;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
}