@import "./src/common/v–∞riables.module";

.join{
  background-color: $firstBgColor;
  text-align: center;
  padding: 63px 0;
  
}

.joinSubTitle{
  color: #ffffff;
  font-size: 32px;
  font-weight: 400;
  font-family: "Montserrat",sans-serif;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin: -55px 0 52px 0;
}
.bgJoin{

}